@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1760px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}